<!DOCTYPE html>
<html>
<head>
  <title>Code, Game, Sleep</title>
  <%= favicon_link_tag "/assets/favicon.ico" %>
  <%= stylesheet_link_tag    "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" %>
  <%= stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Roboto:400,100,700" %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="index-container">
  <div class="container-fluid">
    <div class="row-fluid" id="title-row">
      <div class="span12">
        <div class="row-fluid">

          <!-- heading/external link icons -->
         <%= render 'shared/header' %>

        </div>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12 line-break"></div>
    </div>

    <%= yield %>

  </div>
</div>

<!-- newer/older navigation -->
<%= render 'shared/navigation' %>

<!-- footer/copyright -->
<%= render 'shared/footer' %>

</body>
</html>