<!DOCTYPE html>
%html
%head
  %title= 'Code, Game, Sleep'
  -# media query meta tag(s)
  %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
  -# bookmark icon, includes firefox patch
  %link(rel="icon" href="favicon.ico" type="image/x-icon")
  %link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
  -# stylesheets
  = stylesheet_link_tag '//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css'
  = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Roboto:100,200,400,700'
  = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Source+Code+Pro:100,200,400'
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track'=> true
  -# javascripts
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags

%body
  #index-container
    .container-fluid
      .row-fluid#title-row
        .span12
          .row-fluid
            -# heading/external link icons
            = render 'shared/header'

      .row-fluid
        .span12.line-break
        = render 'shared/links'

    #main-content
      = yield

.modal.hide.fade#image-modal
  .modal-header
    %button.close{ :data => {:dismiss => 'modal'}, :aria => {:hidden => "true"} } &times;
  .modal-body
    #image-body
      %img#image-content

-# newer/older navigation
= render 'shared/navigation'

-# footer/copyright
= render 'shared/footer'

-# google analytics
= render 'shared/ga' if Rails.env == 'production'