<!DOCTYPE html>
<html>
<head>
  <title>Code, Game, Sleep</title>
  <!-- media query meta tag(s) -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- bookmark icon -->
  <%= favicon_link_tag "/assets/favicon.ico" %>
  <!-- stylesheets -->
  <%= stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Roboto:400,100,700" %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Source+Code+Pro:200"%>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <!-- javascripts -->
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="index-container">
  <div class="container-fluid">

    <div class="row-fluid" id="title-row">
      <div class="span12">
        <div class="row-fluid">

          <!-- heading/external link icons -->
         <%= render 'shared/header' %>

        </div>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12 line-break"></div>
      <!-- about, archive, work -->
      <%= render 'shared/links' %>
    </div>

    <%= yield %>

  </div>
</div>

<!-- newer/older navigation -->
<%= render 'shared/navigation' %>

<!-- footer/copyright -->
<%= render 'shared/footer' %>

</body>
</html>